{% extends 'base.html' %}
{% load static %}

{% block body_class %}
no-background
{% endblock %}

{% block content %}






<main style="background-image: none;" >

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <br><br>
{#    <!-- Start Cart  -->#}
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">


                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
{#                                    <th>Total</th>#}
                                    <th>Update</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                        {% if cart_products %}
                        {% for product in cart_products %}
                            <tbody>
                                <tr>
                                    <td class="thumbnail-img">

									<img class="img-fluid" src="{{ product.image.url }}" alt="" />

                                    </td>
                                    <td class="name-pr">

									{{ product.name }}

                                    </td>
                                    <td class="price-pr">
                                        <p>Ksh:{{ product.sale_price }}</p>
                                    </td>
                                    <td class="quantity-box">
                                    <select class="form-select form-control" id="select{{ product.id }}" >

                                            {% for key, value in quantities.items%}
                                                {% if key == product.id|slugify %}
                                                    <option selected>{{ value }}</option>
                                                {% endif %}
                                            {% endfor %}

                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="10">10</option>
                                    </select>
{#                                        <input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text">#}
                                    </td>
{#                                    <td class="total-pr">#}
{#                                        <p>Ksh:{{ totals }}</p>#}
{#                                    </td>#}
                                    <td class="update-box">
                                        <button type="button" data-index="{{ product.id }}" class=" update-cart">Update</button>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="#">
                                            <button type="button" data-index="{{ product.id }}" class=" delete-product"><i class="fas fa-times"></i></button>

								</a>
                                    </td>
                                </tr>

                            </tbody>
                        {% endfor %}
                            {% else %}
                            Add Cart
                        {% endif %}


                        </table>





                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>

                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="col-lg-6 col-sm-6">#}
{#                    <div class="update-box">#}
{#                        <input value="Update Cart" type="submit">#}
{#                        <button type="button" data-index="{{ product.id }}" class="btn hvr-hover update-cart">Update</button>#}
{#                    </div>#}
{#                </div>#}
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"> Free </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5"> Ksh:{{ totals }} </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="#" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

    <!-- Start Instagram Feed  -->


    #update Cart
<script>
    {#check if button pressed#}
    $(document).on('click','.update-cart', function (e) {
        e.preventDefault();
        {#grab product id#}
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_update' %}',
            data:{
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                {#console.log(json)#}
                {#document.getElementById("cart_quantity").textContent = json.qty#}
                location.reload();

            },
            error: function (xhr, errmsg, err){

            }
        });

    })


</script>




{#    Delete Cart#}

<script>
    {#check if button pressed#}
    $(document).on('click','.delete-product ', function (e) {
        e.preventDefault();
        {#grab product id#}
        {#var productid = $(this).data('index');#}
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_delete' %}',
            data:{
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                {#console.log(json)#}
                {#document.getElementById("cart_quantity").textContent = json.qty#}
                location.reload();

            },
            error: function (xhr, errmsg, err){

            }
        });

    })


</script>












{% endblock content %}

</main>